In [ ]:
'''
Statistics: - Book --- Statistics in Plain English




'''

In [ ]:
'''
FOR Machin Learning

Ashish Kumar
Learning Pridictive Analyst with Python

'''

In [ ]:
'''

Machin Learning :- All about Forcasting

1 Supervised
2 Un-Supervised

'''

In [19]:
import pandas as pd
data = pd.read_csv("OlympicAthletes.csv",sep=',')
data.head()

,Athlete,Country,Year,Sport,Gold,Silver,Bronze,Total
0,Yang Yilin,China,2008,Gymnastics,1,0,2,3
1,Leisel Jones,Australia,2000,Swimming,0,2,0,2
2,Go Gi-Hyeon,South Korea,2002,Short-Track Speed Skating,1,1,0,2
3,Chen Ruolin,China,2008,Diving,2,0,0,2
4,Katie Ledecky,United States,2012,Swimming,1,0,0,1

In [7]:
data['Total'].sum()

9529

In [8]:
data.shape

(8618, 8)

In [9]:
data.dtypes

Athlete    object
Country    object
Year        int64
Sport      object
Gold        int64
Silver      int64
Bronze      int64
Total       int64
dtype: object

In [10]:
data.isna().sum()

Athlete    5
Country    0
Year       0
Sport      0
Gold       0
Silver     0
Bronze     0
Total      0
dtype: int64

## 1. Top 5 Countries in medals count.

In [49]:
data.groupby('Country').Total.agg(['sum'])['sum'].sort_values(ascending = False).head()

Country
United States    1312
Russia            768
Germany           629
Australia         609
China             530
Name: sum, dtype: int64

## 2. Highest Medals by country excluding swimming

In [56]:
new_data = data[data.Sport != "Swimming"]

In [59]:
new_data.groupby('Country').Total.agg(['sum'])['sum'].sort_values(ascending = False).head()

Country
United States    1045
Russia            748
Germany           597
China             495
Australia         446
Name: sum, dtype: int64

## 3. Athletes who have won same Number of gold medals in every olympics

In [40]:
temp_dict = dict()
ath_list = []
year = iter(data.Year)
total = iter(data.Total)
for ath in data.Athlete:
    temp = []
    y = year.__next__()
    temp.append(y)
    t = total.__next__()
    temp.append(t)
    if ath not in temp_dict.keys():
        temp_dict.update({ath:temp})
    else:
        x = temp_dict[ath]
        if x[0]+2==temp[0] and x[1]==temp[1]:
            ath_list.append(ath)
if len(ath_list)>0:
    for i in ath_list:
        print(i)
else:
    print("These is no athlete who won same number of medals in continuous olympics")

These is no athlete who won same number of medals in continuous olympics

## 4. Country who have won most gold medals and second in the Total medals list

In [114]:
Gold_n_total = data.groupby('Country').Total.agg(['sum'])
Gold_n_total.rename(columns = {'sum':'Total'},inplace = True)
Gold_n_total['Total_Gold']= data.groupby('Country').Gold.agg(['sum'])['sum']
Gold_n_total.sort_values('Total',ascending = False,inplace = True)
Gold_n_total.sort_values('Total_Gold',ascending = False,inplace = True)
Gold_n_total['Ranking'] = Gold_n_total['Total_Gold'].rank(ascending = False,method = 'min')
Gold_n_total.head()
Gold_n_total.iloc[1,:]

Total         530.0
Total_Gold    234.0
Ranking         2.0
Name: China, dtype: float64